<div class=" header bg-danger pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">Data Upload</h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home" routerLink="/search/content-search"> </i> </a>
              </li>

              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> Upload </a>
              </li>

              <li aria-current="page" class=" breadcrumb-item active">
                Data Upload
              </li>
            </ol>
          </nav>

        </div>

      
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <form [formGroup]="DataUploadForm">
      <div class=" card">     
        <div class="card-header">
          <div class="position-relative row form-group">
            
            <div class="col-sm-2">
              <select name="TemplateID" id="TemplateID" class="form-control" formControlName="TemplateID"
                (change)="geTemplateNameListByTempID($event.target.value)">
                <option value=0>Select Template</option>
                <option *ngFor="let _Temp of TemplateList" [value]="_Temp.TemplateID">
                  {{_Temp.TemplateName}}
                </option>
              </select>
            </div>
            
            <div class="col-sm-3">
              <div class="custom-file">
                <input type="file" name="csvReader" id="csvReader" (change)="uploadListener($event)" accept=".csv" />                
                <label style="width: 97%;"
                  class=" custom-file-label"
                  for="csvReader"
                >
                <span class="selected-file-name"></span>    
                </label>
              </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <button type="button" class="btn submit_btn" style="font-size: 14px" (click)="onSubmit()" [disabled]="hasDataError()">
                Upload CSV <i class=" fas fa-file-upload"></i>
              </button>
              <button type="button" class="btn reset_btn" style="font-size: 14px" (click)="downloadFile()">
                Download CSV <i class=" fas fa-file-download"></i> 
              </button>
            </div>

            <!-- <div class="col-sm-3">
              <div class="form-group" style="font-size: 14px;">
                Upload By Template Name
                <label class=" custom-toggle custom-toggle-success ml-1" style="vertical-align: bottom;">
                  <input checked="checked" type="checkbox" formControlName="UplaodBy"/>
                  <span
                    class=" custom-toggle-slider rounded-circle"
                    data-label-off="NO"
                    data-label-on="YES"              >
                  </span>
                </label>       
              </div>
            </div> -->


          </div>  
        </div>
        <div class="dataTables_wrapper py-4" id="csvUploadTable">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>
          <!-- <p *ngIf="isValidationError" style="padding-left: 8px; color: red; font-weight: bold;">You have one or more errors in uploaded data. Please re-upload with correct data</p> -->
          <ngx-datatable
            class="material"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="_FilteredList"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="SrNo">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>{{rowIndex+1}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="ColName.DisplayName" *ngFor="let ColName of _ColNameList, let j = index" [cellClass]="getCellClass">
              <ng-template let-row="row" let-rowIndex="i" ngx-datatable-cell-template>{{row[j]}}
                <span #tooltipRef style="color: #fff; display: none;" class="tooltip-span fas fa-info-circle" [title]="getTooltipDate(tooltipRef,i,j)"></span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
        
      </div>
    </form>
    </div>
  </div>
</div>
 